@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');

* { 
	margin: 0; padding: 0; box-sizing: border-box; 
}
body { 
	font-family: 'Open Sans', sans-serif;
}
form { 
    background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; 
}
form input { 
	border: 0; padding: 10px; width: 90%; margin-right: .5%; font-family: 'Open Sans', sans-serif;
}
form button { 
	width: 9%; background: #2068B0; border: none; padding: 10px; color: white;
}
#messages { 
	list-style-type: none; margin: 0; padding-top: 50px; 
}
#messages li { 
	padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
	background: #eee; 
}

/* Header color is #2068B0 */